In [24]:
#!/usr/bin/env python
# coding: utf-8

###################################################################
#                                                                 #
#   2024 DS2 Database Project : Recommendation using SQL-Python   #
#                                                                 #
###################################################################


import mysql.connector
from tabulate import tabulate
import pandas as pd
import math
import sys
from pprint import pprint




## Connect to Remote Database
## Insert database information

HOST = "147.46.15.238"
PORT = "7000"
USER = "DS2024_0046"
PASSWD = "DS2024_0046"
DB = "DS_proj_19"

connection = mysql.connector.connect(
    host=HOST,
    port=7000,
    user=USER,
    passwd=PASSWD,
    db=DB,
    autocommit=True  # to create table permanently
)

cur = connection.cursor(dictionary=True)

## 수정할 필요 없는 함수입니다.
# DO NOT CHANGE INITIAL TABLES IN prj.sql
def get_dump(mysql_con, filename):
    '''
    connect to mysql server using mysql_connector
    load .sql file (filename) to get queries that create tables in an existing database (fma)
    '''
    query = ""
    try:
        with mysql_con.cursor() as cursor:
            for line in open(filename, 'r'):
                if line.strip():
                    line = line.strip()
                    if line[-1] == ";":
                        query += line
                        cursor.execute(query)
                        query = ""
                    else:
                        query += line

    except Warning as warn:
        print(warn)
        sys.exit()

# get_dump(connection, 'prj.sql')


# test connection
query = "SHOW tables;"     # 서버의 database 에 보내고 싶은 sql query
cur.execute(query)         # cur.execute() 을 통해 query 를 서버로 송출
a = cur.fetchall()         # cur.fetchall() 을 통해 query 실행 후 결과값 반환
print(a)


## 수정할 필요 없는 함수입니다.
# SQL query 를 받아 해당 query를 보내고 그 결과 값을 dataframe으로 저장해 return 해주는 함수
def get_output(query):
    cur.execute(query)
    out = cur.fetchall()
    df = pd.DataFrame(out)
    return df

[{'Tables_in_DS_proj_19': 'item_similarity'}, {'Tables_in_DS_proj_19': 'ratings'}, {'Tables_in_DS_proj_19': 'user_similarity'}]

In [26]:
from IPython.display import display
for t in a:
    query = f"SHOW COLUMNS FROM {t['Tables_in_DS_proj_19']};"
    print(t['Tables_in_DS_proj_19'])
    display(get_output(query))

    print()

item_similarity

    Field          Type Null Key Default Extra
0  item_1           int  YES        None
1  item_2           int  YES        None
2     sim  decimal(2,1)  YES        None

ratings

    Field          Type Null Key Default Extra
0    user           int  YES        None
1    item           int  YES        None
2  rating  decimal(3,2)  YES        None

user_similarity

    Field          Type Null Key Default Extra
0  user_1           int  YES        None
1  user_2           int  YES        None
2     sim  decimal(2,1)  YES        None

In [27]:
from tabulate import tabulate
for t in a:
    query = f"SHOW COLUMNS FROM {t['Tables_in_DS_proj_19']};"
    print(tabulate(get_output(query), headers='keys', tablefmt='pretty'))

    print()

+---+--------+--------------+------+-----+---------+-------+
|   | Field  |     Type     | Null | Key | Default | Extra |
+---+--------+--------------+------+-----+---------+-------+
| 0 | item_1 |     int      | YES  |     |         |       |
| 1 | item_2 |     int      | YES  |     |         |       |
| 2 |  sim   | decimal(2,1) | YES  |     |         |       |
+---+--------+--------------+------+-----+---------+-------+

+---+--------+--------------+------+-----+---------+-------+
|   | Field  |     Type     | Null | Key | Default | Extra |
+---+--------+--------------+------+-----+---------+-------+
| 0 |  user  |     int      | YES  |     |         |       |
| 1 |  item  |     int      | YES  |     |         |       |
| 2 | rating | decimal(3,2) | YES  |     |         |       |
+---+--------+--------------+------+-----+---------+-------+

+---+--------+--------------+------+-----+---------+-------+
|   | Field  |     Type     | Null | Key | Default | Extra |
+---+--------+--------------+------+-----+---------+-------+
| 0 | user_1 |     int      | YES  |     |         |       |
| 1 | user_2 |     int      | YES  |     |         |       |
| 2 |  sim   | decimal(2,1) | YES  |     |         |       |
+---+--------+--------------+------+-----+---------+-------+